.header {
  margin-top: 5px;
  background: rgba(144, 208, 151, 1);
  height: 80px;
}

.logoBtnArea {
  display: inline;
  height: 80px;
  background: rgba(144, 208, 151, 1);
  border-top: 3px rgba(144, 208, 151, 1);
  border-right: 3px solid white;
  border-bottom: 3px rgba(144, 208, 151, 1);
  border-left: 3px solid white;
  transition: 1s;
}

.logoBtnArea:hover, .aboutButton:hover {
  background: rgba(107, 245, 123, 1);
  cursor: pointer;
}

.logo {
  margin: 15px;
}

h1 {
  position: absolute;
  display: inline;
  padding: 10px;
  margin: 10px;
  color: white;
  text-shadow: 0px 0px 7px rgba(150, 150, 150, 1);
}

.loginButton, .aboutButton {
  float: right;
  background: rgba(144, 208, 151, 1);
  text-shadow: 0px 0px 7px rgba(150, 150, 150, 1);
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  width: 100px;
  border-top: 3px rgba(144, 208, 151, 1);
  border-right: 1.5px solid white;
  border-bottom: 3px rgba(144, 208, 151, 1);
  border-left: 3px solid white;
  text-align: center;
  transition: 1s;
}

.loginButton:hover {
  background: rgba(107, 245, 123, 1);
  cursor: pointer;
}
