#welecome-msg {
  font-size: 30px;
}

.user-panel-btn {
  display: inline;
  margin: 10px auto;
  background: white;
  color: rgba(144, 208, 151, 1);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid rgba(144, 208, 151, 1);
  margin-left: 10px;
  transition: 1s;
}

.user-panel-btn:hover {
  background: rgba(144, 208, 151, 1);
  color: white;
  cursor: pointer;
}
